<div id="services" class="container-fluid text-center">
  <h2>Pick what you want to do</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>FIDDLE AROUND</h4>
      <p>Control LEDs individually with your mouse!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>EPILEPSY MODE</h4>
      <p>Play some animations on LED panel...</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>SNAKE</h4>
      <p>Bring back the 90s!</p>
    </div>
  </div>
</div>