<div class='container text-center'>
  <div class='form-inline'>
    <div class="form-group">
      <label for="size">Grid size:</label>
      <input type="text" class="form-control" id="size" name="size">
      <label for="speed">Speed (ms):</label>
      <input type="text" class="form-control" id="speed" name="speed">
    </div>
    <button class="btn btn-primary epilepsy-start">Epilepsify me!</button>
  </div>
    <br />
    <br />
    <button class="btn btn-danger">Shtap it!!!!</button>
</div>