<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary snake-button snake-up">^</button>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
    <button type="button" class="btn btn-primary snake-button snake-left">&lt;</button>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary snake-button snake-right">&gt;</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary snake-button snake-down">^</button>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4" style="margin-top: 20px">
      <button type="button" class="btn snake-button snake-down">Restart game</button>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>